{% extends "issues/issues_base.html" %}
{% block title %}{{source.name }} Issues{% endblock %}

{% block content %}

<h4>{{ source.name }} Tracked Issues</h4>

<table class="table">
	<tr>
		<th>Issue</th>
		<th># Subscribers</th>
	</tr>
	{% for issue in source.issue_set.all %}
	<tr>
		<td>
			<a href="{{ issue.web_url }}">{{ issue.name }}</a>
		</td>
		<td>
			{{ issue.subcribers.all | length }}
		</td>
	</tr>
	{% endfor %}
</table>


<div class="modal fade" id="confirm_delete">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">Confirm Deletion</h4>
			</div>
			<div class="modal-body">
				Are you sure you want to delete source X?
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Nevermind</button>
				<button type="button" id="delete_button" class="btn btn-danger">Yes, delete it</button>
			</div>
		</div>
	</div>
</div>

<script>


$("body").ready(function(){

});
</script>

{% endblock content %}