{% extends "issues/issues_base.html" %}
{% block title %}{% if source %}Edit {{source.name}}{% else %}Create Source{% endif %}{% endblock %}

{% block content %}

<form method="POST" action="/issues/sources/{% if not source %}add{% else %}{{source.id}}/edit{% endif %}">

{% if source %}
<input type="hidden" name="source_id" value="{{source.id}}">
{% endif %}

{% csrf_token %}
{% load bootstrap_tags %}
{{ form | as_bootstrap }}

<div id="div_id_jira_components" class="form-group">
	<label for="jira_components">Select JIRA Component</label>
	<div>
		<select name="jira_components" class="form-control">
			{% for project in projects %}
			<optgroup label="{{ project.name }}">
				{% for component in project.components %}
				<option value="{{ component.id }}">{{component.name}}</option>
				{% endfor %}
			</optgroup>
			{% endfor %}
		</select>
	</div>
</div>

<button class="btn btn-primary" type="submit">Submit</button>

</form>

<script>
$("body").ready(function(){

	var type_selector = $("#id_type");
	var jira = $("#div_id_jira_components")
	var url_field = $("#div_id_url");
	// Shuffle the DOM elements so the JIRA components thing is in the right place
	$("#div_id_type").after(jira);

	var jira_select = jira.find("select");

	jira_select.change(function(){
		url_field.find("input").val("https://acme-climate.atlassian.net/rest/api/2/component/" + jira_select.val());
	});

	type_selector.change(function(){
		if (type_selector.val() === "jira") {
			jira.show();
			url_field.hide();
		} else {
			url_field.show();
			jira.hide();
		}
	});

	if (type_selector.val() === "jira") {
		jira.show();
		url_field.hide();
	} else {
		jira.hide();
		url_field.show();
	}
});
</script>

{% endblock content %}