{% extends "issues/issues_base.html" %}
{% block title %}Manage Subscriptions{% endblock %}

{% block content %}
<style>
	.subscription.new {
		background-color:#DDD;
		border:1px solid #888;
		border-radius:5px;
	}
</style>

<div class="row">
	<div class="col-sm-12">
		<h1>{{ user.email }} Subscriptions</h1>
	</div>
</div>

{% for sub in user.issue_set.all %}
<div class="row subscription" data-id="{{sub.id}}">
	<div class="col-sm-1">
		<button class="remove_button btn btn-danger btn-xs"><i class="glyphicon glyphicon-remove"></i></button>
	</div>
	<div class="col-sm-11">
		<a href="{{sub.web_url}}">{{sub.name}}</a>
	</div>
</div>
{% endfor %}

<script>

$("body").ready(function(){
	$(".subscription").find(".remove_button").click(function(){
		var $sub = $(this).parent().parent();
		var id = $sub.attr('data-id');
		ajax_json('subscriptions/remove', "POST", function(j){
			$sub.remove();
		}, {"subscription": id});
	});
});

</script>

{% endblock %}